.careers-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: sans-serif;
  background-color: #f2edd1;
}

.careers-header {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fffff0;
  transition: transform 0.2s;
}

.job-card:hover {
  transform: translateY(-2px);
  /* background-color: #F9CB99; */
  background-color: #feffc4;
}

.job-details h3 {
  margin-top: 0;
  color: #333;
}

.job-meta {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

.apply-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  white-space: nowrap; /* Prevents button text from wrapping */
}

.apply-button:hover {
  background-color: #0056b3;
}

.careers-footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  font-size: 0.9em;
  color: #888;
}
.search-bar {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.search-bar input {
  padding: 10px;
}
